CREATE DATABASE QUANLYCHUYENBAY

GO

USE QUANLYCHUYENBAY

GO

CREATE TABLE CHUYENBAY (
	MaCB CHAR(5) PRIMARY KEY NOT NULL,
	GaDi NVARCHAR(50) NOT NULL,
	GaDen NVARCHAR(50) NOT NULL,
	DoDai INT ,
	GioDi TIME,
	GioDen TIME,
	ChiPhi INT,
);

GO

CREATE TABLE MAYBAY (
	MaMB INT PRIMARY KEY NOT NULL,
	Loai NVARCHAR(50)NOT NULL,
	TamBay INT,
);

GO

CREATE TABLE NHANVIEN (
	MaNV CHAR(9)PRIMARY KEY NOT NULL,
	Ten NVARCHAR(50) NOT NULL,
	Luong INT ,
);

GO

CREATE TABLE CHUNGNHAN (
	MaNV CHAR(9),
	MaMB INT,
	CONSTRAINT RB_MB_NV PRIMARY KEY(MaNV, MaMB),
	CONSTRAINT RB_MaNV FOREIGN KEY (MaNV) REFERENCES NHANVIEN(MaNV),
	CONSTRAINT RB_MaMB FOREIGN KEY (MaMB) REFERENCES MAYBAY(MaMB),
);

GO

INSERT CHUYENBAY VALUES('VN431', N'SGN', N'CAH', 3693, '05:55', '06:55', 236);
INSERT CHUYENBAY VALUES('VN320', N'SGN', N'DAD', 2798, '06:00', '07:10', 221);
INSERT CHUYENBAY VALUES('VN464', N'SGN', N'DLI', 2002, '07:20', '08:05', 225);


GO

INSERT MAYBAY VALUES(747, N'Boeing 747 - 400', 13488);
INSERT MAYBAY VALUES(737, N'Boeing 737 - 800', 5413);
INSERT MAYBAY VALUES(340, N'Airbus A340 - 300', 11392);

GO
INSERT NHANVIEN VALUES(242518965, N'Tran Van Son', 120433);
INSERT NHANVIEN VALUES(141582651, N'Doan Thi Mai', 178345);
INSERT NHANVIEN VALUES(011564812, N'Ton Van Quy', 153972);

GO 

INSERT CHUNGNHAN VALUES(567354612, 747);
INSERT CHUNGNHAN VALUES(567354612, 737);
INSERT CHUNGNHAN VALUES(567354612, 757);


GO

---TRUY VAN
----1 CAC CHUYEN BAY ĐI ĐÀ LẠT DAD
SELECT *
FROM CHUYENBAY
WHERE GaDen = 'DAD'

----2 MAY BAY HON 10000KM
SELECT *
FROM MAYBAY
WHERE TamBay >=10000

----3. NHAN VIEN LUONG NHO HON 10000
SELECT *
FROM NHANVIEN
WHERE Luong <=10000

----4. CHUYEN BAY TU SGN DEN BMV
SELECT *
FROM CHUYENBAY
WHERE GaDi = N'SGN' AND GaDen = N'BMV'

----5. CHUYEN BAY XP TU SGN
SELECT COUNT(MaCB) AS SoCB_tuSGN
FROM CHUYENBAY
WHERE GaDi = N'SGN'

----6. SO MAY BAY BOEING
SELECT COUNT(Loai) AS SoMBBoeing
FROM MAYBAY
WHERE Loai LIKE N'Boeing%'

----7. TONG SO LUONG PHAI TRA CHO CAC NHAN VIEN
SELECT SUM(Luong) AS tongLUONG
FROM NHANVIEN

----8. MA PHI CONG LAI MAY BAY BOEING
SELECT DISTINCT N.MaNV
FROM MAYBAY AS M, CHUNGNHAN AS C, NHANVIEN AS N
WHERE N.MaNV = C.MaNV AND M.MaMB = C.MaMB AND M.Loai LIKE N'Boeing%'

----9. CAC NHAN VIEN CÓ THỂ LÁI MaMB 747
SELECT N.MaNV, N.Ten
FROM NHANVIEN AS N, CHUNGNHAN AS C
WHERE N.MaNV = C.MaNV AND C.MaMB = 747

----10. NHAN VIEN VUA LAI BOEING VUA LAI AIRBUS
SELECT DISTINCT N.MaNV
FROM MAYBAY AS M, CHUNGNHAN AS C, NHANVIEN AS N
WHERE N.MaNV = C.MaNV AND M.MaMB = C.MaMB AND (M.Loai LIKE N'Boeing%' OR M.Loai LIKE N'Airbus%')

----11. LOAI MAY BAY CÓ THỂ THỰC HIỆN CB VN280
SELECT DISTINCT M.Loai
FROM MAYBAY AS M, CHUYENBAY AS C
WHERE M.TamBay >= C.DoDai AND C.MaCB = 'VN280'

----12. CB THƯC HIEN BOI AIRBUS A320
SELECT DISTINCT C.MaCB
FROM CHUYENBAY AS C, MAYBAY AS M
WHERE M.Loai = N'Airbus A320' AND C.DoDai <=M.TamBay

----13. TEN CUA PHI CONG LAI BOEING
SELECT DISTINCT N.Ten
FROM NHANVIEN AS N, CHUNGNHAN AS C, MAYBAY AS M
WHERE N.MaNV = C.MaNV AND C.MaMB = M.MaMB AND M.Loai LIKE N'Boeing%'

----14. CHI PHI TRA CHO PHI Ở MỖI GA XP
SELECT GaDi, SUM(ChiPhi) AS TONGCHIPHI
FROM CHUYENBAY
GROUP BY GaDi

----15. TONG CHUYEN BAY TRUOC 12:00
SELECT GaDi, COUNT(MaCB) AS TongCB
FROM CHUYENBAY
WHERE GioDi <= '12:00'
GROUP BY GaDi

----16. PHI CONG LAI ĐƯỢC 3 LOẠI MÁY BAY
SELECT N.MaNV,COUNT(C.MaMB) AS So_MB_Lai
FROM CHUNGNHAN AS C, NHANVIEN AS N, MAYBAY AS M
WHERE N.MaNV=C.MaNV AND C.MaMB = M.MaMB
GROUP BY N.MaNV
HAVING COUNT(C.MaMB) =3